.center {
	max-width: 40em;
	margin: auto;
}
.entry {
	border: 2px solid gray;
	display: inline-block;
	padding: 0.8em;
	margin: 0.1em 0;
	text-align: left;
	width: 100%;
	box-sizing: border-box;
}
.h > div { background-color: #200; }
.a > div { background-color: #002; }
.emblem {
	max-height: 3em;
	float: none;
	display: inline;
}
h3 {
	float: left;
}

img {
	border: none;
}
.entry img {
	padding: 0;
	margin: 0 0 0.7em 0.7em;
	max-height: 16em;
	float: right;
}
@media (max-width: 50em) {
	img { max-width: 40%; }
	.entry { padding: 0.2em; }
	.center { max-width 100%; }
}
