body {
	background-color: black;
	max-width: 60em;
	margin: auto;
	margin-bottom: 10em;
	font-family: sans-serif;
	color: white;
	padding: 0 2em;
}

.center {
	text-align: center;
	clear: both;
}
.right {
	float: right;
}
.warning {
	margin-bottom: 64em;
	display: block;
}

.galerija {
	text-align: center;
	margin: 0;
	padding: 0;
}
.galerija img {
	display: inline;
}
.galerija img:hover {
	background-color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Linux Libertine", serif;
}
h1 { text-align: center; }

p {
	text-indent: 3em;
	text-align: justify;
}

a:link, a:visited { color: white; }
a:hover { color: DeepPink; }

img {
	box-sizing: border-box;
	max-width: 25em;
	max-height: 25em;
	margin: auto;
	display: block;
	border: 2px solid gray;
	padding: 0.5em;
}
@media (max-width: 25em) {
	img { max-width: 100%; }
}

hr { clear: both; }
li { color: white; }

iframe {
	max-width: 25em;
	max-height: 25em;
	display: block;
	margin: auto;
	border: 0;
}

s, .red { color: red; }
.noborder { border: 0; }

#gear, #gear td, #gear th {
	padding: 0.3em;
	border: 1px solid grey;
	border-collapse: collapse;
}

a.common {
	color: #ffffff;
	text-decoration: none;
}
a.common:before { content: "["; }
a.common:after { content: "]"; }
a.uncommon {
	color: #1eff00;
	text-decoration: none;
}
a.uncommon:before { content: "["; }
a.uncommon:after { content: "]"; }